<div>
  <h2 id="page-heading" data-cy="GradesHeading">
    <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.home.title">Grades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grades"
        [routerLink]="['/edugestmicroservice/grades/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.home.createLabel">Create a new Grades</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (grades().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.home.notFound">No Grades found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade">
              <div class="d-flex">
                <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.grade">Grade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="student.id">
              <div class="d-flex">
                <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.student">Student</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subject.id">
              <div class="d-flex">
                <span jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceGrades.subject">Subject</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (grades of grades(); track trackId(grades)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/edugestmicroservice/grades', grades.id, 'view']">{{ grades.id }}</a>
              </td>
              <td>{{ grades.grade }}</td>
              <td>
                @if (grades.student) {
                  <div>
                    <a [routerLink]="['/edugestmicroservice/student', grades.student.id, 'view']">{{ grades.student.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (grades.subject) {
                  <div>
                    <a [routerLink]="['/edugestmicroservice/subject', grades.subject.id, 'view']">{{ grades.subject.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/edugestmicroservice/grades', grades.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/edugestmicroservice/grades', grades.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(grades)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
