<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-absence-heading"
        data-cy="AbsenceCreateUpdateHeading"
        jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.home.createOrEditLabel"
      >
        Create or edit a Absence
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_justification" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.justification"
            >Justification</label
          >
          <input
            type="text"
            class="form-control"
            name="justification"
            id="field_justification"
            data-cy="justification"
            formControlName="justification"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_note" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_student" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.student"
            >Student</label
          >
          <select
            class="form-control"
            id="field_student"
            data-cy="student"
            name="student"
            formControlName="student"
            [compareWith]="compareStudent"
          >
            <option [ngValue]="null"></option>
            @for (studentOption of studentsSharedCollection; track $index) {
              <option [ngValue]="studentOption">{{ studentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_session" jhiTranslate="eduGestMicroserviceApp.eduGestMicroserviceAbsence.session"
            >Session</label
          >
          <select
            class="form-control"
            id="field_session"
            data-cy="session"
            name="session"
            formControlName="session"
            [compareWith]="compareSession"
          >
            <option [ngValue]="null"></option>
            @for (sessionOption of sessionsSharedCollection; track $index) {
              <option [ngValue]="sessionOption">{{ sessionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
