<div>
  <h2 id="page-heading" data-cy="AdministrationHeading">
    <span jhiTranslate="eduGestGatewayApp.administration.home.title">Administrations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="eduGestGatewayApp.administration.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-administration"
        [routerLink]="['/administration/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eduGestGatewayApp.administration.home.createLabel">Create a new Administration</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (administrations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="eduGestGatewayApp.administration.home.notFound">No Administrations found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="identifier">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.identifier">Identifier</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="birthDate">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="eduGestGatewayApp.administration.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (administration of administrations(); track trackId(administration)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/administration', administration.id, 'view']">{{ administration.id }}</a>
              </td>
              <td>{{ administration.identifier }}</td>
              <td>{{ administration.birthDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'eduGestGatewayApp.Genders.' + (administration.gender ?? 'null')">
                {{ { null: '', MALE: 'MALE', FEMALE: 'FEMALE' }[administration.gender ?? 'null'] }}
              </td>
              <td>{{ administration.phoneNumber }}</td>
              <td>{{ administration.address }}</td>
              <td>{{ administration.type }}</td>
              <td>{{ administration.note }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/administration', administration.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/administration', administration.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(administration)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
